appdirs==1.4.4
asgiref==3.4.1
distlib==0.3.1
Django~=3.2.6
filelock==3.0.12
gunicorn==20.1.0
pytz==2021.1
six~=1.16.0
sqlparse==0.4.1
virtualenv==20.4.4

cryptography~=3.4.7
defusedxml~=0.7.1
cffi~=1.14.6
Pillow~=8.3.1
pip~=21.0.1
isort~=5.9.3
setuptools~=54.2.0
psycopg2~=2.9.1
Jinja2~=3.0.1
docutils~=0.17.1
djangorestframework~=3.12.4
djoser~=2.1.0
MarkupSafe~=2.0.1
certifi~=2021.5.30
itypes~=1.2.0
coreapi~=2.3.3
coreschema~=0.0.4
requests~=2.26.0
uritemplate~=3.0.1
urllib3~=1.26.6
oauthlib~=3.1.1
idna~=3.2
pycparser~=2.20
PyJWT~=2.1.0
django-filter~=2.4.0
Pygments~=2.9.0